In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df_wages_male = pd.read_excel("employment/Wages_male.xls")
df_wages_female = pd.read_excel("employment/Wages_female.xls")
df_vulnerable_male = pd.read_excel("employment/Vulnerable_male.xls")
df_vulnerable_female = pd.read_excel("employment/Vulnerable_female.xls")
df_unemployment_15_male = pd.read_excel("employment/Unemployment_15_24_male.xls")
df_unemployment_15_female = pd.read_excel("employment/Unemployment_15_24_female.xls")
df_total_unemployment_male = pd.read_excel("employment/Total_Unemployment_male.xls")
df_total_unemployment_female = pd.read_excel("employment/Total_Unemployment_female.xls")
df_laborforce_male = pd.read_excel("employment/labor_force_participation_rate_male.xls")
df_laborforce_female = pd.read_excel("employment/labor_force_participation_rate_female.xls")
df_services_male = pd.read_excel("employment/Employment_services_male.xls")
df_services_female = pd.read_excel("employment/Employment_services_female.xls")
df_agriculture_male = pd.read_excel("employment/Employment_agriculture_male.xls")
df_agriculture_female = pd.read_excel("employment/Employment_agriculture_female.xls")
df_industry_male = pd.read_excel("employment/Employment_indusrty_male.xls")
df_industry_female = pd.read_excel("employment/Employment_indusrty_female.xls")
df_contributing_male = pd.read_excel("employment/Contributing_family _workers_male.xls")
df_contributing_female = pd.read_excel("employment/Contributing_family _workers_female.xls")
df_economy_types = pd.read_excel("employment/economy_types.xlsx")
df_employment_female = pd.read_excel("employment/EmploymentToPopulationRatio_15+_female.xls")
df_employment_male = pd.read_excel("employment/EmploymentToPopulationRatio_15+_male.xls")

In [9]:
uniq, counts = np.unique(df_economy_types['IncomeGroup'], return_counts=True)
for i in range(0,4):
    print(uniq[i],"-",counts[i])

High income - 60
Low income - 29
Lower middle income - 48
Upper middle income - 50

In [10]:
uniq, counts = np.unique(df_economy_types['Region'], return_counts=True)
for i in range(0,7):
    print(uniq[i],"-",counts[i])

East Asia & Pacific - 29
Europe & Central Asia - 49
Latin America & Caribbean - 31
Middle East & North Africa - 21
North America - 2
South Asia - 8
Sub-Saharan Africa - 47

In [22]:
dict_female = {'Country Name' : df_economy_types['TableName']}
dict_male = {'Country Name' : df_economy_types['TableName']}
dict_GenderEmploymentIndex = {'Country Name' : df_economy_types['TableName'], 'IncomeGroup' : df_economy_types['IncomeGroup'], 'Region' : df_economy_types['Region'] }

j, k = 1, 0
for i in range(30):
    
    #Creating the string representation of the year
    if(i <=8):
        year_str = '199'+str(j)
        j +=1
    elif (i >= 9 and i <= 18) :
        year_str = '200'+str(k)
        k +=1
    else:
        year_str = '20'+str(k)
        k +=1
    
    factor_wage = df_wages_female[year_str]/df_wages_male[year_str]
    factor_unemployment = (100-df_total_unemployment_female[year_str])/(100-df_total_unemployment_male[year_str])
    factor_laborforce = df_laborforce_female[year_str]/df_laborforce_male[year_str]
    factor_services = df_services_female[year_str]/df_services_male[year_str]
    factor_agriculture = df_agriculture_female[year_str]/df_agriculture_male[year_str]
    factor_industry = df_industry_female[year_str]/df_industry_male[year_str]
    factor_employment = df_employment_female[year_str]/df_employment_male[year_str]
    
    ratio =   factor_industry + factor_laborforce + factor_employment +\
            factor_services  + factor_wage 
    
    dict_GenderEmploymentIndex[year_str] = ratio/5


#Creating the male, female and GEI dataframe 
df_female = pd.DataFrame(dict_female)
df_male = pd.DataFrame(dict_male)
df_GenderEmploymentIndex = pd.DataFrame(dict_GenderEmploymentIndex)
print(df_GenderEmploymentIndex.head(5))
df_GenderEmploymentIndex.to_csv (r'comboclustered_data.csv', index = None, header=True)

           Country Name          IncomeGroup                      Region  \
0           Afghanistan           Low income                  South Asia
1                Angola  Lower middle income          Sub-Saharan Africa
2               Albania  Upper middle income       Europe & Central Asia
3  United Arab Emirates          High income  Middle East & North Africa
4             Argentina  Upper middle income   Latin America & Caribbean

       1991      1992      1993      1994      1995      1996      1997  ...  \
0  0.422184  0.423697  0.422872  0.426391  0.427419  0.415217  0.413734  ...
1  0.681529  0.680185  0.678899  0.677643  0.679935  0.681725  0.685604  ...
2  0.735348  0.730247  0.722559  0.722607  0.717747  0.713895  0.720066  ...
3  0.724573  0.727123  0.730495  0.730396  0.730182  0.732205  0.735029  ...
4  0.819472  0.827471  0.817587  0.814568  0.817343  0.813189  0.815333  ...

       2011      2012      2013      2014      2015      2016      2017  \
0  0.420967  0.434089  0.447252  0.462494  0.478059  0.501716  0.522531
1  0.681486  0.679651  0.681217  0.683990  0.687666  0.690484  0.690730
2  0.736681  0.713398  0.736765  0.769902  0.813832  0.825799  0.838532
3  0.761320  0.763037  0.766443  0.770746  0.776585  0.778797  0.775835
4  0.810645  0.809228  0.810227  0.808308  0.808629  0.809754  0.811979

       2018      2019      2020
0  0.529998  0.534712  0.538214
1  0.692970  0.695404  0.697467
2  0.842364  0.843603  0.844546
3  0.773725  0.772782  0.772094
4  0.813112  0.811314  0.809570

[5 rows x 33 columns]

In [19]:
df_GenderEmploymentIndex['5yearaverage'] = df_GenderEmploymentIndex[['2016','2017','2018','2019','2020']].mean(axis=1)
gk = df_GenderEmploymentIndex.groupby('IncomeGroup')
df2= gk.get_group('Low income')
df_GenderEmploymentIndex.nlargest(5,['5yearaverage'])[['Country Name','5yearaverage']]

     Country Name  5yearaverage
15        Bahrain      3.587418
140         Qatar      2.532262
127          Oman      1.965614
144  Saudi Arabia      1.772975
167         Tonga      1.632554