In [1]:
import pandas as pd

FILE_1 = './Dataset/employment/Contributing_family _workers_female.xls'
FILE_2 = './Dataset/employment/Contributing_family _workers_male.xls'
FILE_3 = './Dataset/employment/economy_types.xlsx'
FILE_4 = './Dataset/employment/Employment_agriculture_female.xls'
FILE_5 = './Dataset/employment/Employment_agriculture_male.xls'
FILE_6 = './Dataset/employment/Employment_indusrty_female.xls'
FILE_7 = './Dataset/employment/Employment_indusrty_male.xls'
FILE_8 = './Dataset/employment/Employment_services_female.xls'
FILE_9 = './Dataset/employment/Employment_services_male.xls'
FILE_10 = './Dataset/employment/EmploymentToPopulationRatio_15+_female.xls'
FILE_11 = './Dataset/employment/EmploymentToPopulationRatio_15+_male.xls'
FILE_12 = './Dataset/employment/GenderEmploymentIndex.xls'
FILE_13 = './Dataset/employment/labor_force_participation_rate_female.xls'
FILE_14 = './Dataset/employment/labor_force_participation_rate_male.xls'
FILE_15 = './Dataset/employment/proportion_women_parliament.xls'
FILE_16 = './Dataset/employment/Total_Unemployment_female.xls'
FILE_17 = './Dataset/employment/Total_Unemployment_male.xls'
FILE_18 = './Dataset/employment/Unemployment_15_24_female.xls'
FILE_19 = './Dataset/employment/Unemployment_15_24_male.xls'
FILE_20 = './Dataset/employment/Vulnerable_female.xls'
FILE_21 = './Dataset/employment/Vulnerable_male.xls'
FILE_22 = './Dataset/employment/Wages_female.xls'
FILE_23 = './Dataset/employment/Wages_male.xls'

#code to read individual files into dataframes
df1 = pd.read_excel(FILE_1,sheet_name="Data",index_col=0)
df2 = pd.read_excel(FILE_2,sheet_name="Data",index_col=0)
df3 = pd.read_excel(FILE_3,sheet_name="Sheet1",index_col=0)
df4 = pd.read_excel(FILE_4,sheet_name="Data",index_col=0)
df5 = pd.read_excel(FILE_5,sheet_name="Data",index_col=0)
df6 = pd.read_excel(FILE_6,sheet_name="Data",index_col=0)
df7 = pd.read_excel(FILE_7,sheet_name="Data",index_col=0)
df8 = pd.read_excel(FILE_8,sheet_name="Data",index_col=0)
df9 = pd.read_excel(FILE_9,sheet_name="Data",index_col=0)
df10 = pd.read_excel(FILE_10,sheet_name="Data",index_col=0)
df11 = pd.read_excel(FILE_11,sheet_name="Data",index_col=0)
df12 = pd.read_excel(FILE_12,sheet_name="Sheet1",index_col=0)
df13 = pd.read_excel(FILE_13,sheet_name="Data",index_col=0)
df14 = pd.read_excel(FILE_14,sheet_name="Data",index_col=0)
df15 = pd.read_excel(FILE_15,sheet_name="Data",index_col=0)
df16 = pd.read_excel(FILE_16,sheet_name="Data",index_col=0)
df17 = pd.read_excel(FILE_17,sheet_name="Data",index_col=0)
df18 = pd.read_excel(FILE_18,sheet_name="Data",index_col=0)
df19 = pd.read_excel(FILE_19,sheet_name="Data",index_col=0)
df20 = pd.read_excel(FILE_20,sheet_name="Data",index_col=0)
df21 = pd.read_excel(FILE_21,sheet_name="Data",index_col=0)
df22 = pd.read_excel(FILE_22,sheet_name="Data",index_col=0)
df23 = pd.read_excel(FILE_23,sheet_name="Data",index_col=0)

#code to merge the dataframes into a single df
merged_inner1 = pd.merge(left=df1, right=df2, left_on='Country Code', right_on='Country Code')
merged_inner2= pd.merge(left=merged_inner1, right=df3, left_on='Country Code', right_on='Country Code')
merged_inner3= pd.merge(left=merged_inner2, right=df4, left_on='Country Code', right_on='Country Code')
merged_inner4= pd.merge(left=merged_inner3, right=df5, left_on='Country Code', right_on='Country Code')
merged_inner5= pd.merge(left=merged_inner4, right=df6, left_on='Country Code', right_on='Country Code')
merged_inner6= pd.merge(left=merged_inner5, right=df7, left_on='Country Code', right_on='Country Code')
merged_inner7= pd.merge(left=merged_inner6, right=df8, left_on='Country Code', right_on='Country Code')
merged_inner8= pd.merge(left=merged_inner7, right=df9, left_on='Country Code', right_on='Country Code')
merged_inner9= pd.merge(left=merged_inner8, right=df10, left_on='Country Code', right_on='Country Code')
merged_inner10= pd.merge(left=merged_inner9, right=df11, left_on='Country Code', right_on='Country Code')
merged_inner11= pd.merge(left=merged_inner10, right=df13, left_on='Country Code', right_on='Country Code')
merged_inner12= pd.merge(left=merged_inner11, right=df14, left_on='Country Code', right_on='Country Code')
merged_inner13= pd.merge(left=merged_inner12, right=df15, left_on='Country Code', right_on='Country Code')
merged_inner14= pd.merge(left=merged_inner13, right=df16, left_on='Country Code', right_on='Country Code')
merged_inner15= pd.merge(left=merged_inner14, right=df17, left_on='Country Code', right_on='Country Code')
merged_inner16= pd.merge(left=merged_inner15, right=df18, left_on='Country Code', right_on='Country Code')
merged_inner17= pd.merge(left=merged_inner16, right=df19, left_on='Country Code', right_on='Country Code')
merged_inner18= pd.merge(left=merged_inner17, right=df20, left_on='Country Code', right_on='Country Code')
merged_inner19= pd.merge(left=merged_inner18, right=df21, left_on='Country Code', right_on='Country Code')
merged_inner20= pd.merge(left=merged_inner19, right=df22, left_on='Country Code', right_on='Country Code')
merged_inner21= pd.merge(left=merged_inner20, right=df23, left_on='Country Code', right_on='Country Code')

df_pre_processed = merged_inner21

In [2]:
# code to rename duplicate column names
cols=pd.Series(df_pre_processed.columns)
for dup in df_pre_processed.columns[df_pre_processed.columns.duplicated(keep=False)]: 
    cols[df_pre_processed.columns.get_loc(dup)] = ([dup + '.' + str(d_idx) 
                                     if d_idx != 0 
                                     else dup 
                                     for d_idx in range(df_pre_processed.columns.get_loc(dup).sum())]
                                    )
df_pre_processed.columns=cols

In [3]:

#checking the columns for values with low variance
df_pre_processed.var()

1991_x.1    455.341895
1992_x.2    448.775565
1993_x.3    445.077906
1994_x.4    438.712129
1995_x.5    431.237895
1996_x.6    430.632772
1997_x.7    421.404799
1998_x.8    421.678853
1999_x.9    417.773443
2000_x      408.882741
2001_x.1    403.139026
2002_x.2    394.406779
2003_x.3    395.174143
2004_x.4    391.375093
2005_x.5    383.679035
2006_x.6    378.560563
2007_x.7    373.870781
2008_x.8    371.344280
2009_x.9    363.508393
2010_x      358.811179
2011_x.1    351.610429
2012_x.2    350.625963
2013_x.3    342.387688
2014_x.4    334.901078
2015_x.5    324.352676
2016_x.6    315.096630
2017_x.7    307.452341
2018_x.8    302.751710
2019_x.9    298.738304
2020_x      294.860813
               ...
1991        701.345576
1992        696.509198
1993        693.507411
1994        694.346333
1995        692.217730
1996        685.059330
1997        680.563489
1998        675.815948
1999        668.377225
2000        668.185175
2001        661.660439
2002        657.286272
2003        655.277506
2004        647.662786
2005        646.833221
2006        643.334765
2007        639.595589
2008        637.950104
2009        626.269367
2010        622.298124
2011        615.366017
2012        606.161385
2013        598.858629
2014        595.132311
2015        592.864902
2016        590.122071
2017        588.818914
2018        587.542241
2019        585.012884
2020        582.426205
Length: 630, dtype: float64

In [4]:
print(df_pre_processed)

    Country Code   1991_x.1   1992_x.2   1993_x.3   1994_x.4   1995_x.5  \
0            AFG  89.751999  88.898003  89.065002  87.665001  84.279999
1            AGO  11.230000  10.939000  10.511000  10.090000   9.739000
2            ALB  48.764999  49.278000  49.556000  48.526001  47.476002
3            ARE   0.001000   0.001000   0.001000   0.001000   0.001000
4            ARG   1.806000   2.023000   2.113000   2.558000   2.082000
5            ARM  30.815001  33.601002  33.057999  32.299000  32.098999
6            AUS   1.281000   1.399000   1.453000   1.444000   1.343000
7            AUT   6.457000   6.141000   5.856000   5.578000   5.331000
8            AZE  46.990002  47.042999  47.227001  47.314999  47.363998
9            BDI  38.199001  38.022999  37.605999  37.459999  36.979000
10           BEL   5.143000   5.937000   5.464000   5.072000   5.409000
11           BEN  25.167000  24.961000  24.856001  24.604000  24.517000
12           BFA  71.884003  71.627998  71.782997  71.742996  71.974998
13           BGD  72.308998  71.779999  71.288002  70.662003  70.045998
14           BGR   3.011000   2.993000   2.898000   2.853000   2.766000
15           BHR   0.046000   0.047000   0.043000   0.046000   0.048000
16           BHS   0.685000   0.582000   0.570000   0.468000   1.012000
17           BIH  23.792999  22.605000  21.663000  21.547001  21.330000
18           BLR   0.077000   0.075000   0.074000   0.072000   0.071000
19           BLZ   4.455000   4.487000   4.394000   4.300000   4.311000
20           BOL  45.182999  44.263000  43.328999  42.452000  41.599998
21           BRA  13.917000  13.354000  12.986000  12.537000  12.048000
22           BRB   0.444000   0.112000   0.224000   0.067000   0.170000
23           BRN   0.630000   0.631000   0.647000   0.645000   0.646000
24           BTN  58.012001  57.984001  57.411999  57.173000  56.471001
25           BWA   7.941000   7.589000   7.391000   7.088000   7.181000
26           CAF  49.233002  48.866001  48.907001  49.383999  49.230999
27           CAN   0.890000   0.889000   0.952000   0.758000   0.705000
28           CHE   5.513000   5.323000   5.154000   4.998000   4.823000
29           CHI   4.231000   4.055000   3.882000   3.697000   3.531000
..           ...        ...        ...        ...        ...        ...
155          SVK   0.260000   0.265000   0.260000   0.251000   0.238000
156          SVN   4.730000   4.691000   4.537000   7.535000   6.588000
157          SWE   0.776000   0.731000   0.688000   0.657000   0.618000
158          SWZ   1.723000   1.694000   1.665000   1.642000   1.590000
159          TCD  47.075001  46.882000  46.040001  46.380001  46.085999
160          TGO  30.316999  30.063000  29.311001  30.090000  30.150999
161          THA  53.583000  53.911999  49.980999  49.053001  46.694000
162          TJK  29.698000  32.487000  32.695000  33.667999  33.594002
163          TKM   8.552000   8.450000   8.436000   8.340000   8.335000
164          TLS  50.075001  49.185001  48.237999  47.244999  46.231998
165          TON  21.884001  22.031000  21.559999  21.010000  20.612000
166          TTO   6.190000   6.133000   6.788000   6.639000   5.859000
167          TUN  18.749001  17.833000  16.955000  16.124001  15.778000
168          TUR  61.005001  60.133999  61.073002  56.876999  55.487000
169          TZA  17.280001  17.035999  16.818001  16.589001  16.375999
170          UGA  44.327999  44.165001  44.140999  44.028999  44.115002
171          UKR   0.235000   0.261000   0.304000   0.381000   0.410000
172          URY   3.458000   3.310000   3.177000   3.060000   2.920000
173          USA   0.499000   0.494000   0.432000   0.210000   0.185000
174          UZB  20.872000  21.447001  21.250000  21.348000  21.169001
175          VCT   2.740000   2.744000   2.675000   2.597000   2.630000
176          VEN   1.388000   1.350000   1.302000   1.263000   1.387000
177          VIR   0.299000   0.290000   0.282000   0.267000   0.253000
178          VNM  65.342003  64.778999  64.301003  63.750000  63.139999
179          VUT  10.631000  10.614000  10.672000  10.329000  10.424000
180          WSM   4.228000   4.185000   4.106000   4.107000   3.978000
181          YEM  35.673000  35.095001  34.743000  34.108002  33.089001
182          ZAF   2.338000   2.291000   2.271000   2.241000   2.199000
183          ZMB  60.485001  60.348000  60.146000  61.160000  60.513000
184          ZWE  20.247999  20.386000  20.613001  20.497999  18.957001

      1996_x.6   1997_x.7   1998_x.8   1999_x.9  ...       2011       2012  \
0    87.875999  87.692001  87.477997  87.264000  ...  13.202000  14.365000
1     9.407000   9.028000   8.681000   8.341000  ...  39.570000  39.945000
2    46.686001  44.720001  45.417999  44.827999  ...  41.998001  40.730000
3     0.001000   0.001000   0.001000   0.001000  ...  95.836998  96.014999
4     2.754000   2.347000   2.132000   2.015000  ...  73.874001  74.064003
5    32.139000  32.099998  31.489000  31.384001  ...  59.155998  60.571999
6     1.329000   1.314000   1.097000   1.216000  ...  78.223999  79.077003
7     5.462000   4.897000   4.388000   4.335000  ...  84.473000  84.664001
8    47.460999  47.459000  47.338001  47.236000  ...  34.667000  37.416000
9    36.550999  36.596001  36.834000  36.611000  ...   7.709000   7.740000
10    5.366000   4.997000   4.138000   5.268000  ...  82.531998  82.447998
11   24.288000  24.115000  23.886000  23.691000  ...  15.153000  15.302000
12   72.304001  72.244003  72.325996  72.371002  ...  12.027000  12.839000
13   69.397003  68.730003  68.113998  67.401001  ...  45.063999  45.078999
14    2.644000   2.612000   2.525000   2.489000  ...  85.480003  85.910004
15    0.049000   0.051000   0.052000   0.054000  ...  97.442001  97.434998
16    1.190000   0.201000   0.421000   0.375000  ...  80.370003  80.447998
17   23.278000  19.202999  17.582001  16.358999  ...  74.922997  72.722000
18    0.070000   0.069000   0.068000   0.066000  ...  94.003998  94.014000
19    4.126000   4.189000   4.219000   4.335000  ...  67.802002  67.877998
20   40.759998  39.870998  39.005001  38.365002  ...  38.196999  36.740002
21   10.350000  10.846000  10.248000  11.087000  ...  65.677002  66.320999
22    0.371000   0.232000   0.145000   0.092000  ...  78.997002  78.781998
23    0.653000   0.666000   0.667000   0.663000  ...  91.634003  91.444000
24   56.042000  55.588001  55.016998  54.448002  ...  38.279999  41.283001
25    7.181000   7.193000   7.098000   7.091000  ...  72.613998  72.796997
26   48.756001  49.145000  49.179001  49.193001  ...  10.355000  10.440000
27    0.695000   0.726000   0.661000   0.451000  ...  80.960999  81.130997
28    4.630000   4.482000   4.103000   4.062000  ...  82.532997  82.675003
29    3.388000   3.249000   3.099000   2.962000  ...  81.648003  81.669998
..         ...        ...        ...        ...  ...        ...        ...
155   0.223000   0.208000   0.197000   0.188000  ...  79.071999  80.102997
156   5.611000   8.841000   8.373000   7.442000  ...  80.334000  80.867996
157   0.639000   0.535000   0.533000   0.552000  ...  85.612000  85.450996
158   1.557000   1.531000   1.609000   1.681000  ...  74.891998  74.121002
159  46.036999  46.112000  46.161999  45.747002  ...  11.084000  11.274000
160  29.556000  29.672001  29.414000  29.408001  ...  19.601000  20.465000
161  44.146999  44.862000  43.417999  39.998001  ...  43.075001  42.353001
162  33.250999  33.312000  33.500000  33.799999  ...  57.306999  57.563999
163   8.214000   8.092000   8.101000   8.037000  ...  71.065002  71.169998
164  44.789001  44.178001  44.287998  49.012001  ...  36.792999  38.490002
165  20.691000  20.781000  20.410999  20.124001  ...  47.970001  48.272999
166   4.157000   4.108000   3.902000   3.385000  ...  73.511002  75.023003
167  15.458000  15.117000  14.818000  14.530000  ...  68.696999  68.653000
168  53.262001  52.258999  49.627998  47.268002  ...  65.800003  66.521004
169  16.132999  15.857000  15.595000  15.340000  ...  15.745000  16.167999
170  43.985001  43.743000  43.573002  43.493999  ...  26.125000  26.462000
171   0.436000   0.438000   0.440000   0.436000  ...  81.487999  81.918999
172   2.826000   2.708000   2.599000   2.521000  ...  70.042999  70.786003
173   0.196000   0.188000   0.147000   0.146000  ...  92.037003  92.253998
174  20.952999  20.639000  20.416000  20.145000  ...  56.222000  56.438000
175   2.548000   2.528000   2.494000   2.445000  ...  71.150002  71.190002
176   1.196000   0.937000   1.587000   2.450000  ...  63.422001  64.009003
177   0.237000   0.220000   0.210000   0.201000  ...  83.927002  83.056000
178  62.500999  56.743000  53.917000  55.129002  ...  40.143002  40.001999
179  10.352000  10.166000  10.063000  10.072000  ...  30.559000  30.566999
180   3.845000   3.839000   3.777000   3.718000  ...  64.705002  64.750000
181  31.990999  30.877001  29.788000  28.802000  ...  52.937000  52.681999
182   2.165000   2.116000   2.067000   2.040000  ...  83.165001  82.833000
183  60.312000  60.379002  60.709000  60.423000  ...  28.351999  29.224001
184  17.399000  15.900000  15.950000  16.076000  ...  43.861000  43.491001

          2013       2014       2015       2016       2017       2018  \
0    15.499000  16.613001  17.730000  18.893000  20.083000  20.159000
1    40.216000  40.514000  40.752998  40.992001  41.287998  41.537998
2    42.993999  42.153000  39.952999  40.841000  41.727001  42.631001
3    96.205002  96.377998  96.596001  96.737999  96.334999  95.978996
4    73.407997  73.482002  73.069000  72.316002  71.865997  72.293999
5    61.811001  57.062000  57.280998  57.199001  58.601002  58.735001
6    79.300003  79.010002  79.134003  79.135002  79.254997  79.651001
7    84.477997  84.266998  84.691002  84.907997  85.387001  85.740997
8    37.546001  37.255001  36.689999  36.048000  35.891998  36.356998
9     7.777000   7.804000   7.760000   7.751000   7.748000   7.751000
10   81.221001  82.146004  81.261002  81.566002  82.622002  83.100998
11   15.500000  15.691000  15.798000  15.948000  16.143999  16.370001
12   13.678000  14.528000  14.654000  14.823000  14.996000  15.178000
13   44.966000  44.763000  44.396999  43.808998  43.004002  43.401001
14   85.110001  84.708000  85.135002  85.819000  85.611000  85.709000
15   97.440002  97.435997  97.422997  97.412003  97.384003  97.342003
16   80.389999  80.643997  80.379997  80.598000  80.639000  80.605003
17   74.607002  76.469002  76.151001  75.896004  75.549004  78.483002
18   94.028000  94.042000  94.055000  94.071999  94.071999  94.430000
19   67.845001  68.158997  67.836998  67.361000  66.285004  66.454002
20   35.321999  33.883999  32.492001  31.059999  33.328999  34.402000
21   65.960999  65.825996  64.192001  63.648998  63.347000  63.001999
22   78.445999  78.483002  78.558998  78.731003  78.682999  78.598999
23   91.204002  90.927002  90.995003  90.938004  90.810997  90.825996
24   38.905998  37.848000  35.237000  35.741001  36.132000  36.445999
25   73.078003  73.154999  73.240997  73.466003  73.593002  73.746002
26    9.997000  10.087000  10.176000  10.266000  10.354000  10.443000
27   81.254997  81.419998  81.515999  81.431999  81.698997  81.753998
28   82.661003  82.795998  83.577003  83.151001  83.374001  83.406998
29   81.694000  81.759003  81.750999  81.764999  81.830002  81.872002
..         ...        ...        ...        ...        ...        ...
155  79.741997  80.156998  80.927002  80.678001  80.779999  81.109001
156  80.401001  79.292999  80.984001  82.780998  82.942001  82.026001
157  85.448997  85.913002  86.063004  86.458000  86.414001  86.731003
158  73.287003  72.328003  71.364998  70.402000  70.589996  70.730003
159  11.402000  11.554000  11.618000  11.470000  11.403000  11.463000
160  21.347000  22.260000  22.486000  22.698000  22.906000  23.134001
161  45.251999  47.888000  48.926998  49.331001  49.441002  48.646000
162  57.835999  58.129002  58.421001  58.700001  58.959000  59.226002
163  71.296997  71.430000  71.551003  71.695999  71.838997  71.976997
164  38.540001  36.937000  39.792000  40.964001  40.105999  40.247002
165  48.206001  48.493999  48.903999  49.222000  49.486000  49.500000
166  73.666000  73.664001  72.356003  70.711998  70.861000  70.971001
167  69.083000  69.195999  69.334000  69.508003  69.643997  69.789001
168  67.250999  68.480003  69.403999  69.306999  68.934998  69.155998
169  16.683001  17.252001  17.479000  17.726999  17.974001  18.225000
170  26.684000  26.926001  27.160000  27.372000  27.565001  27.813000
171  81.371002  82.496002  82.155998  82.330002  82.299004  82.223000
172  70.217003  70.759003  70.123001  69.421997  68.917000  68.649002
173  92.530998  92.632004  92.549004  92.571999  92.916000  92.768997
174  56.658001  56.881001  57.095001  57.318001  57.528000  57.724998
175  71.282997  71.189003  71.269997  71.292999  71.304001  71.424004
176  63.736000  63.265999  62.759998  61.875999  61.326000  60.784000
177  83.058998  83.174004  83.199997  83.236000  83.082001  83.154999
178  39.903999  40.397999  44.056000  46.298000  47.592999  48.306999
179  30.573999  30.608000  30.466000  30.582001  30.764000  30.891001
180  64.427002  64.165001  63.840000  63.616001  63.116001  63.198002
181  52.429001  51.936001  50.630001  49.613998  48.945000  48.488998
182  83.666000  84.096001  83.476997  82.761002  82.589996  82.045998
183  29.482000  29.722000  29.884001  30.084999  30.264000  30.481001
184  43.667000  43.867001  44.060001  44.215000  44.495998  44.827000

          2019       2020
0    20.233999  20.319000
1    41.834000  42.123001
2    43.497002  44.408001
3    95.994003  96.023003
4    72.074997  71.971001
5    58.853001  58.990002
6    79.731003  79.827003
7    85.821999  85.917999
8    36.549999  36.757999
9     7.745000   7.739000
10   83.155998  83.218002
11   16.589001  16.815001
12   15.331000  15.490000
13   43.771000  44.120998
14   85.844002  85.971001
15   97.295998  97.264000
16   80.664001  80.693001
17   78.703003  78.916000
18   94.435997  94.444000
19   66.484001  66.478996
20   34.750000  35.096001
21   63.053001  63.162998
22   78.609001  78.653000
23   90.850998  90.932999
24   36.834999  37.275002
25   73.861000  73.989998
26   10.517000  10.600000
27   81.827003  81.901001
28   83.468002  83.554001
29   81.906998  81.954002
..         ...        ...
155  81.254997  81.379997
156  82.236000  82.433998
157  86.748001  86.787003
158  70.829002  70.907997
159  11.488000  11.579000
160  23.334000  23.542999
161  48.868999  49.062000
162  59.529999  59.796001
163  72.113998  72.244003
164  40.456001  40.776001
165  49.679001  49.922001
166  70.928001  71.036003
167  69.880997  69.987999
168  69.360001  69.761002
169  18.426001  18.645000
170  28.028000  28.250000
171  82.194000  82.160004
172  68.757004  69.008003
173  92.848000  92.913002
174  57.930000  58.134998
175  71.482002  71.528000
176  60.249001  60.417000
177  83.232002  83.327003
178  49.001999  49.683998
179  31.025000  31.114000
180  63.317001  63.478001
181  48.271000  48.061001
182  82.084000  82.129997
183  30.572001  30.662001
184  44.722000  44.932999

[185 rows x 639 columns]

In [5]:
for col in df_pre_processed.columns: 
    print(col)

Country Code
1991_x.1
1992_x.2
1993_x.3
1994_x.4
1995_x.5
1996_x.6
1997_x.7
1998_x.8
1999_x.9
2000_x
2001_x.1
2002_x.2
2003_x.3
2004_x.4
2005_x.5
2006_x.6
2007_x.7
2008_x.8
2009_x.9
2010_x
2011_x.1
2012_x.2
2013_x.3
2014_x.4
2015_x.5
2016_x.6
2017_x.7
2018_x.8
2019_x.9
2020_x
1991_y.1
1992_y.2
1993_y.3
1994_y.4
1995_y.5
1996_y.6
1997_y.7
1998_y.8
1999_y.9
2000_y
2001_y.1
2002_y.2
2003_y.3
2004_y.4
2005_y.5
2006_y.6
2007_y.7
2008_y.8
2009_y.9
2010_y
2011_y.1
2012_y.2
2013_y.3
2014_y.4
2015_y.5
2016_y.6
2017_y.7
2018_y.8
2019_y.9
2020_y
Region
IncomeGroup
SpecialNotes
TableName
1991_x.5
1992_x.6
1993_x.7
1994_x.8
1995_x.9
1996_x
1997_x.1
1998_x.2
1999_x.3
2000_x.4
2001_x.5
2002_x.6
2003_x.7
2004_x.8
2005_x.9
2006_x
2007_x.1
2008_x.2
2009_x.3
2010_x.4
2011_x.5
2012_x.6
2013_x.7
2014_x.8
2015_x.9
2016_x
2017_x.1
2018_x.2
2019_x.3
2020_x.4
1991_y.5
1992_y.6
1993_y.7
1994_y.8
1995_y.9
1996_y
1997_y.1
1998_y.2
1999_y.3
2000_y.4
2001_y.5
2002_y.6
2003_y.7
2004_y.8
2005_y.9
2006_y
2007_y.1
2008_y.2
2009_y.3
2010_y.4
2011_y.5
2012_y.6
2013_y.7
2014_y.8
2015_y.9
2016_y
2017_y.1
2018_y.2
2019_y.3
2020_y.4
1991_x.5
1992_x.6
1993_x.7
1994_x.8
1995_x.9
1996_x
1997_x.1
1998_x.2
1999_x.3
2000_x.4
2001_x.5
2002_x.6
2003_x.7
2004_x.8
2005_x.9
2006_x
2007_x.1
2008_x.2
2009_x.3
2010_x.4
2011_x.5
2012_x.6
2013_x.7
2014_x.8
2015_x.9
2016_x
2017_x.1
2018_x.2
2019_x.3
2020_x.4
1991_y.5
1992_y.6
1993_y.7
1994_y.8
1995_y.9
1996_y
1997_y.1
1998_y.2
1999_y.3
2000_y.4
2001_y.5
2002_y.6
2003_y.7
2004_y.8
2005_y.9
2006_y
2007_y.1
2008_y.2
2009_y.3
2010_y.4
2011_y.5
2012_y.6
2013_y.7
2014_y.8
2015_y.9
2016_y
2017_y.1
2018_y.2
2019_y.3
2020_y.4
1991_x.5
1992_x.6
1993_x.7
1994_x.8
1995_x.9
1996_x
1997_x.1
1998_x.2
1999_x.3
2000_x.4
2001_x.5
2002_x.6
2003_x.7
2004_x.8
2005_x.9
2006_x
2007_x.1
2008_x.2
2009_x.3
2010_x.4
2011_x.5
2012_x.6
2013_x.7
2014_x.8
2015_x.9
2016_x
2017_x.1
2018_x.2
2019_x.3
2020_x.4
1991_y.5
1992_y.6
1993_y.7
1994_y.8
1995_y.9
1996_y
1997_y.1
1998_y.2
1999_y.3
2000_y.4
2001_y.5
2002_y.6
2003_y.7
2004_y.8
2005_y.9
2006_y
2007_y.1
2008_y.2
2009_y.3
2010_y.4
2011_y.5
2012_y.6
2013_y.7
2014_y.8
2015_y.9
2016_y
2017_y.1
2018_y.2
2019_y.3
2020_y.4
Indicator Name_x
Indicator Code_x
1991_x.7
1992_x.8
1993_x.9
1994_x
1995_x.1
1996_x.2
1997_x.3
1998_x.4
1999_x.5
2000_x.6
2001_x.7
2002_x.8
2003_x.9
2004_x
2005_x.1
2006_x.2
2007_x.3
2008_x.4
2009_x.5
2010_x.6
2011_x.7
2012_x.8
2013_x.9
2014_x
2015_x.1
2016_x.2
2017_x.3
2018_x.4
2019_x.5
2020_x.6
Indicator Name_y
Indicator Code_y
1991_y.9
1992_y
1993_y.1
1994_y.2
1995_y.3
1996_y.4
1997_y.5
1998_y.6
1999_y.7
2000_y.8
2001_y.9
2002_y
2003_y.1
2004_y.2
2005_y.3
2006_y.4
2007_y.5
2008_y.6
2009_y.7
2010_y.8
2011_y.9
2012_y
2013_y.1
2014_y.2
2015_y.3
2016_y.4
2017_y.5
2018_y.6
2019_y.7
2020_y.8
1991_x.9
1992_x
1993_x.1
1994_x.2
1995_x.3
1996_x.4
1997_x.5
1998_x.6
1999_x.7
2000_x.8
2001_x.9
2002_x
2003_x.1
2004_x.2
2005_x.3
2006_x.4
2007_x.5
2008_x.6
2009_x.7
2010_x.8
2011_x.9
2012_x
2013_x.1
2014_x.2
2015_x.3
2016_x.4
2017_x.5
2018_x.6
2019_x.7
2020_x.8
1991_y.9
1992_y
1993_y.1
1994_y.2
1995_y.3
1996_y.4
1997_y.5
1998_y.6
1999_y.7
2000_y.8
2001_y.9
2002_y
2003_y.1
2004_y.2
2005_y.3
2006_y.4
2007_y.5
2008_y.6
2009_y.7
2010_y.8
2011_y.9
2012_y
2013_y.1
2014_y.2
2015_y.3
2016_y.4
2017_y.5
2018_y.6
2019_y.7
2020_y.8
1991_x.9
1992_x
1993_x.1
1994_x.2
1995_x.3
1996_x.4
1997_x.5
1998_x.6
1999_x.7
2000_x.8
2001_x.9
2002_x
2003_x.1
2004_x.2
2005_x.3
2006_x.4
2007_x.5
2008_x.6
2009_x.7
2010_x.8
2011_x.9
2012_x
2013_x.1
2014_x.2
2015_x.3
2016_x.4
2017_x.5
2018_x.6
2019_x.7
2020_x.8
1991_y.9
1992_y
1993_y.1
1994_y.2
1995_y.3
1996_y.4
1997_y.5
1998_y.6
1999_y.7
2000_y.8
2001_y.9
2002_y
2003_y.1
2004_y.2
2005_y.3
2006_y.4
2007_y.5
2008_y.6
2009_y.7
2010_y.8
2011_y.9
2012_y
2013_y.1
2014_y.2
2015_y.3
2016_y.4
2017_y.5
2018_y.6
2019_y.7
2020_y.8
1991_x.9
1992_x
1993_x.1
1994_x.2
1995_x.3
1996_x.4
1997_x.5
1998_x.6
1999_x.7
2000_x.8
2001_x.9
2002_x
2003_x.1
2004_x.2
2005_x.3
2006_x.4
2007_x.5
2008_x.6
2009_x.7
2010_x.8
2011_x.9
2012_x
2013_x.1
2014_x.2
2015_x.3
2016_x.4
2017_x.5
2018_x.6
2019_x.7
2020_x.8
1991_y.9
1992_y
1993_y.1
1994_y.2
1995_y.3
1996_y.4
1997_y.5
1998_y.6
1999_y.7
2000_y.8
2001_y.9
2002_y
2003_y.1
2004_y.2
2005_y.3
2006_y.4
2007_y.5
2008_y.6
2009_y.7
2010_y.8
2011_y.9
2012_y
2013_y.1
2014_y.2
2015_y.3
2016_y.4
2017_y.5
2018_y.6
2019_y.7
2020_y.8
1991_x.9
1992_x
1993_x.1
1994_x.2
1995_x.3
1996_x.4
1997_x.5
1998_x.6
1999_x.7
2000_x.8
2001_x.9
2002_x
2003_x.1
2004_x.2
2005_x.3
2006_x.4
2007_x.5
2008_x.6
2009_x.7
2010_x.8
2011_x.9
2012_x
2013_x.1
2014_x.2
2015_x.3
2016_x.4
2017_x.5
2018_x.6
2019_x.7
2020_x.8
1991_y.9
1992_y
1993_y.1
1994_y.2
1995_y.3
1996_y.4
1997_y.5
1998_y.6
1999_y.7
2000_y.8
2001_y.9
2002_y
2003_y.1
2004_y.2
2005_y.3
2006_y.4
2007_y.5
2008_y.6
2009_y.7
2010_y.8
2011_y.9
2012_y
2013_y.1
2014_y.2
2015_y.3
2016_y.4
2017_y.5
2018_y.6
2019_y.7
2020_y.8
1991_x.9
1992_x
1993_x.1
1994_x.2
1995_x.3
1996_x.4
1997_x.5
1998_x.6
1999_x.7
2000_x.8
2001_x.9
2002_x
2003_x.1
2004_x.2
2005_x.3
2006_x.4
2007_x.5
2008_x.6
2009_x.7
2010_x.8
2011_x.9
2012_x
2013_x.1
2014_x.2
2015_x.3
2016_x.4
2017_x.5
2018_x.6
2019_x.7
2020_x.8
1991_y.9
1992_y
1993_y.1
1994_y.2
1995_y.3
1996_y.4
1997_y.5
1998_y.6
1999_y.7
2000_y.8
2001_y.9
2002_y
2003_y.1
2004_y.2
2005_y.3
2006_y.4
2007_y.5
2008_y.6
2009_y.7
2010_y.8
2011_y.9
2012_y
2013_y.1
2014_y.2
2015_y.3
2016_y.4
2017_y.5
2018_y.6
2019_y.7
2020_y.8
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020

In [6]:
#Removing features with high correlation
correlated_features = set()
correlation_matrix = df_pre_processed.corr()

In [7]:
for i in range(len(correlation_matrix .columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.8:
            colname = correlation_matrix.columns[i]
            correlated_features.add(colname)

In [8]:
print(correlated_features)

{'2017_y.5', '2013_x.9', '2003_y.1', '1999_x.3', '2003_x.3', '2006', '1993_x.3', '2010_x.8', '2010', '2015_x.1', '2001_x.9', '2007_x.5', '2020_x.6', '2016_y.4', '2008_y.6', '2018_x.8', '2009_x.7', '2006_x.6', '2002_x.8', '1996_x.4', '1999_y.9', '2018_y.2', '2010_x.6', '2006_x', '2018_x.4', '1992_y.2', '2017_x.1', '2005_x.3', '2016_x.2', '2009_y.7', '1993_y.7', '2005_y.5', '2012_x.2', '2008_x.2', '2006_y.6', '2019_y.9', '1994_y.8', '2011_y.5', '2013_y.1', '2003_y.3', '2013_y.7', '1992_x', '2011_x.7', '2012_y.2', '2007_x.1', '2002', '2005', '2011_y.1', '2008_x.4', '2002_y.2', '2002_y', '1999_y.3', '2004_x.2', '2003', '2020_y.4', '2002_x', '1994_x.4', '2008', '1994_x.2', '2019_x.3', '2013', '1993_x.9', '2010_x.4', '2012_x', '2019_y.3', '1996', '2020_x', '2003_x.9', '1993_x.1', '1999_x.7', '1992_x.2', '2000_x', '1996_y.6', '2001_x.5', '2001_y.1', '2006_y', '1995_y.3', '2010_y.8', '2006_x.2', '2009', '1995_y.9', '2001_x.7', '2000_y', '2009_x.3', '2018_x.6', '1996_y', '1999_x.9', '2001_y.9', '2014_y.2', '1998_x.8', '1994_y.4', '1997_y.7', '2020_y', '2004_x.8', '1998_y.2', '1997_x.3', '1999_x.5', '2011_y.9', '1995_x.9', '2020_y.8', '2004_y.2', '2011', '2001_x.1', '1992_x.6', '2007_y.5', '1998_y.6', '2016_x', '2011_x.5', '1995_y.5', '2008_x.8', '2005_y.9', '2016_y', '1998_x.4', '2010_y.4', '1992', '2004', '2007_y.1', '2005_x.5', '1997_x.7', '2010_y', '2015_x.3', '2012', '2004_x', '1997_y.5', '1998_x.2', '2016_x.4', '2001', '2017_x.5', '2000_y.8', '1994_y.2', '2013_x.3', '2016_x.6', '1994_x', '2019_y.7', '2018_y.6', '2016_y.6', '1992_x.8', '1996_x.6', '2000_x.6', '1995_x.1', '1998_y.8', '2012_y', '2004_y.8', '1997_x.5', '2011_x.9', '2008_x.6', '2014_x.4', '2015_x.9', '2000', '2013_y.3', '2003_x.1', '2019_x.9', '2016', '2009_y.9', '2014_x.2', '1993', '2008_y.8', '2005_x.9', '2014_x', '2003_y.7', '2013_x.1', '2006_y.4', '2019_x.7', '2012_x.8', '1992_y', '1999', '2015_y.3', '2015_x.5', '2012_y.6', '1999_y.7', '2003_x.7', '2007_x.3', '2020_x.8', '2015_y.5', '1993_x.7', '2017', '2006_x.4', '2017_y.7', '1993_y.3', '2017_x.3', '2004_y.4', '2017_x.7', '1997', '2020', '1996_x', '2014_x.8', '1994', '2012_x.6', '2007', '2017_y.1', '1995_x.3', '2004_x.4', '2005_y.3', '2013_x.7', '2018_y.8', '2001_y.5', '2000_x.4', '2020_x.4', '2015_y.9', '1997_x.1', '2002_y.6', '1996_x.2', '2000_x.8', '1995', '2008_y.2', '2015', '2019', '1992_y.6', '1994_x.8', '1991', '2014', '2010_x', '2002_x.6', '2014_y.8', '2014_y.4', '2009_x.5', '1991_y.9', '2005_x.1', '2007_y.7', '2002_x.2', '2009_x.9', '1995_x.5', '1993_y.1', '2000_y.4', '2018', '2007_x.7', '2019_x.5', '1997_y.1', '2011_x.1', '1998_x.6', '2009_y.3', '2018_x.2', '1998', '1996_y.4'}

In [9]:

print(len(correlated_features))

234

In [10]:
df_pre_processed.drop(labels=correlated_features, axis=1, inplace=True)
print(df_pre_processed.shape)

(185, 23)

In [11]:
print(df_pre_processed)

    Country Code   1991_x.1   1991_y.1                      Region  \
0            AFG  89.751999  23.952999                  South Asia
1            AGO  11.230000   4.317000          Sub-Saharan Africa
2            ALB  48.764999  18.980000       Europe & Central Asia
3            ARE   0.001000   0.000000  Middle East & North Africa
4            ARG   1.806000   0.529000   Latin America & Caribbean
5            ARM  30.815001  15.044000       Europe & Central Asia
6            AUS   1.281000   0.703000         East Asia & Pacific
7            AUT   6.457000   2.325000       Europe & Central Asia
8            AZE  46.990002  30.507000       Europe & Central Asia
9            BDI  38.199001  26.493999          Sub-Saharan Africa
10           BEL   5.143000   0.610000       Europe & Central Asia
11           BEN  25.167000  15.260000          Sub-Saharan Africa
12           BFA  71.884003  28.208000          Sub-Saharan Africa
13           BGD  72.308998  16.826000                  South Asia
14           BGR   3.011000   1.495000       Europe & Central Asia
15           BHR   0.046000   0.085000  Middle East & North Africa
16           BHS   0.685000   0.283000   Latin America & Caribbean
17           BIH  23.792999   8.641000       Europe & Central Asia
18           BLR   0.077000   0.028000       Europe & Central Asia
19           BLZ   4.455000   3.749000   Latin America & Caribbean
20           BOL  45.182999  21.278999   Latin America & Caribbean
21           BRA  13.917000   6.130000   Latin America & Caribbean
22           BRB   0.444000   0.715000   Latin America & Caribbean
23           BRN   0.630000   0.376000         East Asia & Pacific
24           BTN  58.012001  54.612999                  South Asia
25           BWA   7.941000   1.628000          Sub-Saharan Africa
26           CAF  49.233002  30.062000          Sub-Saharan Africa
27           CAN   0.890000   0.188000               North America
28           CHE   5.513000   2.278000       Europe & Central Asia
29           CHI   4.231000   1.300000       Europe & Central Asia
..           ...        ...        ...                         ...
155          SVK   0.260000   0.175000       Europe & Central Asia
156          SVN   4.730000   2.215000       Europe & Central Asia
157          SWE   0.776000   0.538000       Europe & Central Asia
158          SWZ   1.723000   0.913000          Sub-Saharan Africa
159          TCD  47.075001  14.137000          Sub-Saharan Africa
160          TGO  30.316999  24.827999          Sub-Saharan Africa
161          THA  53.583000  25.174000         East Asia & Pacific
162          TJK  29.698000  21.985001       Europe & Central Asia
163          TKM   8.552000   4.382000       Europe & Central Asia
164          TLS  50.075001  37.278000         East Asia & Pacific
165          TON  21.884001  20.513000         East Asia & Pacific
166          TTO   6.190000   1.973000   Latin America & Caribbean
167          TUN  18.749001   4.731000  Middle East & North Africa
168          TUR  61.005001  14.276000       Europe & Central Asia
169          TZA  17.280001  11.740000          Sub-Saharan Africa
170          UGA  44.327999  12.507000          Sub-Saharan Africa
171          UKR   0.235000   0.447000       Europe & Central Asia
172          URY   3.458000   0.972000   Latin America & Caribbean
173          USA   0.499000   0.126000               North America
174          UZB  20.872000  10.756000       Europe & Central Asia
175          VCT   2.740000   2.045000   Latin America & Caribbean
176          VEN   1.388000   1.701000   Latin America & Caribbean
177          VIR   0.299000   0.149000   Latin America & Caribbean
178          VNM  65.342003  30.187000         East Asia & Pacific
179          VUT  10.631000   9.922000         East Asia & Pacific
180          WSM   4.228000   1.331000         East Asia & Pacific
181          YEM  35.673000   8.042000  Middle East & North Africa
182          ZAF   2.338000   1.300000          Sub-Saharan Africa
183          ZMB  60.485001  24.516001          Sub-Saharan Africa
184          ZWE  20.247999  16.594000          Sub-Saharan Africa

             IncomeGroup                                       SpecialNotes  \
0             Low income                                                NaN
1    Lower middle income                                                NaN
2    Upper middle income                                                NaN
3            High income                                                NaN
4    Upper middle income                                                NaN
5    Upper middle income                                                NaN
6            High income  Fiscal year end: June 30; reporting period for...
7            High income  A simple multiplier is used to convert the nat...
8    Upper middle income                                                NaN
9             Low income                                                NaN
10           High income  A simple multiplier is used to convert the nat...
11   Lower middle income                                                NaN
12            Low income                                                NaN
13   Lower middle income  Fiscal year end: June 30; reporting period for...
14   Upper middle income                                                NaN
15           High income                                                NaN
16           High income                                                NaN
17   Upper middle income                                                NaN
18   Upper middle income  Data before 2015 were adjusted to reflect the ...
19   Upper middle income                                                NaN
20   Lower middle income                                                NaN
21   Upper middle income                                                NaN
22           High income                                                NaN
23           High income                                                NaN
24   Lower middle income                                                NaN
25   Upper middle income                                                NaN
26            Low income                                                NaN
27           High income  Fiscal year end: March 31; reporting period fo...
28           High income                                                NaN
29           High income                                                NaN
..                   ...                                                ...
155          High income  A simple multiplier is used to convert the nat...
156          High income  Fiscal year end: June 30; reporting period for...
157          High income  Fiscal year end: March 31; reporting period fo...
158  Lower middle income                                                NaN
159           Low income  East Asia & Pacific (IDA & IBRD countries) agg...
160           Low income  Fiscal year end: September 30; reporting perio...
161  Upper middle income                                                NaN
162           Low income                                                NaN
163  Upper middle income  Latin America & the Caribbean (IDA & IBRD coun...
164  Lower middle income  Middle East & North Africa (IDA & IBRD countri...
165  Upper middle income       South Asia (IDA & IBRD countries) aggregate.
166          High income                                                NaN
167  Lower middle income                                                NaN
168  Upper middle income                                                NaN
169  Lower middle income  Fiscal year end: June 30; reporting period for...
170           Low income                                                NaN
171  Lower middle income  Upper middle income group aggregate. Upper-mid...
172          High income                                                NaN
173          High income                                                NaN
174  Lower middle income                                                NaN
175  Upper middle income                                                NaN
176  Upper middle income                                                NaN
177          High income                                                NaN
178  Lower middle income                                                NaN
179  Lower middle income                                   World aggregate.
180  Upper middle income                                                NaN
181           Low income  Fiscal year end: March 31; reporting period fo...
182  Upper middle income  National accounts data were rebased to reflect...
183  Lower middle income                                                NaN
184  Lower middle income                                                NaN

                          TableName   1991_x.5   1991_y.5   1991_x.5  ...  \
0                       Afghanistan  76.781998  61.471001  14.686000  ...
1                            Angola  48.186001  31.452999   1.922000  ...
2                           Albania  65.752998  48.429001   7.557000  ...
3              United Arab Emirates   0.066000   9.537000  14.606000  ...
4                         Argentina   0.138000   0.477000  20.004000  ...
5                           Armenia  50.581001  40.425999  10.155000  ...
6                         Australia   4.081000   6.453000  12.444000  ...
7                           Austria   8.829000   6.937000  18.094999  ...
8                        Azerbaijan  48.785000  38.556000   9.410000  ...
9                           Burundi  96.684998  86.607002   0.905000  ...
10                          Belgium   2.540000   3.278000  15.884000  ...
11                            Benin  43.487000  54.858002  21.805000  ...
12                     Burkina Faso  87.099998  92.350998   4.364000  ...
13                       Bangladesh  90.647003  64.008003   7.748000  ...
14                         Bulgaria  17.375000  21.570999  36.270000  ...
15                          Bahrain   0.213000   2.892000   7.278000  ...
16                     Bahamas, The   1.435000   8.509000   5.138000  ...
17           Bosnia and Herzegovina  36.167000  30.995001  19.309999  ...
18                          Belarus  12.007000  20.568001  25.292000  ...
19                           Belize   4.480000  31.740999  12.793000  ...
20                          Bolivia  42.694000  41.682999  12.292000  ...
21                           Brazil   9.395000  23.837999  15.294000  ...
22                         Barbados   4.311000   6.531000  12.530000  ...
23                Brunei Darussalam   1.637000   2.220000   8.877000  ...
24                           Bhutan  77.164001  61.505001   4.430000  ...
25                         Botswana  10.811000  20.017000  19.563999  ...
26         Central African Republic  85.872002  75.274002   4.262000  ...
27                           Canada   2.385000   4.386000  11.818000  ...
28                      Switzerland   3.964000   4.542000  16.532000  ...
29                  Channel Islands   5.705000   8.456000  20.652000  ...
..                              ...        ...        ...        ...  ...
155                 Slovak Republic   8.283000  13.618000  32.222000  ...
156                        Slovenia  10.404000  11.257000  37.835999  ...
157                          Sweden   2.006000   5.531000  12.430000  ...
158                        Eswatini  18.719999  21.496000  30.347000  ...
159                            Chad  86.318001  81.024002   0.776000  ...
160                            Togo  49.849998  49.040001  17.245001  ...
161                        Thailand  60.817001  59.945000  13.711000  ...
162                      Tajikistan  78.431999  43.672001   5.905000  ...
163                    Turkmenistan  27.843000  33.737999  39.494999  ...
164                     Timor-Leste  62.891998  61.306999   5.948000  ...
165                           Tonga   4.605000  53.738998  63.146999  ...
166             Trinidad and Tobago   6.510000  14.552000  15.800000  ...
167                         Tunisia  25.273001  22.796000  36.506001  ...
168                          Turkey  77.046997  34.548000   8.410000  ...
169                        Tanzania  87.699997  81.988998   1.121000  ...
170                          Uganda  80.003998  66.317001   5.399000  ...
171                         Ukraine  24.530001  23.311001  21.952000  ...
172                         Uruguay   6.218000  16.395000  16.473000  ...
173                   United States   1.065000   2.582000  14.679000  ...
174                      Uzbekistan  42.311001  39.202000  18.858000  ...
175  St. Vincent and the Grenadines  13.961000  30.615999  11.065000  ...
176                   Venezuela, RB   2.178000  18.670000  16.559999  ...
177           Virgin Islands (U.S.)   2.031000  10.317000  12.237000  ...
178                         Vietnam  71.181000  70.259003   8.526000  ...
179                         Vanuatu  72.516998  65.829002   2.218000  ...
180                           Samoa  22.198999  60.025002  28.660999  ...
181                     Yemen, Rep.  84.817001  47.084000   2.147000  ...
182                    South Africa   9.532000  12.150000  16.798000  ...
183                          Zambia  78.651001  62.877998   3.352000  ...
184                        Zimbabwe  71.544998  51.376999   5.027000  ...

                                      Indicator Name_x      Indicator Code_x  \
0    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
1    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
2    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
3    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
4    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
5    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
6    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
7    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
8    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
9    Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
10   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
11   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
12   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
13   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
14   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
15   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
16   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
17   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
18   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
19   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
20   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
21   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
22   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
23   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
24   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
25   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
26   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
27   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
28   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
29   Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
..                                                 ...                   ...
155  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
156  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
157  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
158  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
159  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
160  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
161  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
162  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
163  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
164  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
165  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
166  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
167  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
168  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
169  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
170  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
171  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
172  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
173  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
174  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
175  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
176  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
177  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
178  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
179  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
180  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
181  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
182  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
183  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS
184  Employment to population ratio, 15+, female (%...  SL.EMP.TOTL.SP.FE.ZS

      1991_x.7                                   Indicator Name_y  \
0    13.048000  Employment to population ratio, 15+, male (%) ...
1    73.857002  Employment to population ratio, 15+, male (%) ...
2    47.383999  Employment to population ratio, 15+, male (%) ...
3    28.173000  Employment to population ratio, 15+, male (%) ...
4    43.542000  Employment to population ratio, 15+, male (%) ...
5    46.359001  Employment to population ratio, 15+, male (%) ...
6    47.261002  Employment to population ratio, 15+, male (%) ...
7    42.235001  Employment to population ratio, 15+, male (%) ...
8    51.327000  Employment to population ratio, 15+, male (%) ...
9    89.176003  Employment to population ratio, 15+, male (%) ...
10   33.903999  Employment to population ratio, 15+, male (%) ...
11   57.035999  Employment to population ratio, 15+, male (%) ...
12   74.300003  Employment to population ratio, 15+, male (%) ...
13   24.302000  Employment to population ratio, 15+, male (%) ...
14   47.255001  Employment to population ratio, 15+, male (%) ...
15   27.816999  Employment to population ratio, 15+, male (%) ...
16   57.737999  Employment to population ratio, 15+, male (%) ...
17   27.610001  Employment to population ratio, 15+, male (%) ...
18   52.983002  Employment to population ratio, 15+, male (%) ...
19   29.740999  Employment to population ratio, 15+, male (%) ...
20   55.028000  Employment to population ratio, 15+, male (%) ...
21   38.463001  Employment to population ratio, 15+, male (%) ...
22   46.062000  Employment to population ratio, 15+, male (%) ...
23   43.132999  Employment to population ratio, 15+, male (%) ...
24   58.832001  Employment to population ratio, 15+, male (%) ...